<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="goodsService" class="com.mtls.service.impl.GoodsServiceImpl">
		<property name="goodsManager" ref="goodsManager"/>
	</bean>
	
	<bean id="userService" class="com.mtls.service.impl.UserServiceImpl">
		<property name="userManager" ref="userManager"/>
	</bean>
	
</beans>