<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <array>
                <value>classpath:/config/properties/jdbc-mysql.properties</value>
                <value>classpath:/config/properties/dubbo.properties</value>
            </array>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="properties" ref="localEnvProperties"/>
    </bean>

    <bean name="localEnvProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <array>
                <value>classpath:/config/properties/jdbc-mysql.properties</value>
                <value>classpath:/config/properties/dubbo.properties</value>
            </array>
        </property>
    </bean>
    
</beans>