<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 
"-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 禁止mybatis缓存 -->
		<setting name="cacheEnabled" value="false"/>
		<setting name="localCacheScope" value="STATEMENT"/>
		<setting name="lazyLoadingEnabled" value="false"/>
		<setting name="defaultExecutorType" value="SIMPLE"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<!-- <setting name="defaultExecutorType" value=""/>
        <setting name="defaultStatementTimeout" value=""/> -->
	</settings>

	<typeAliases>
		<typeAlias type="com.mtls.po.Goods" alias="Goods"/>
		<typeAlias type="com.mtls.po.User" alias="User"/>
	</typeAliases>
	
	<typeHandlers>
		<package name="com.mtls.TypeHandler"/>
	</typeHandlers>
	
</configuration>